@import "./mixins";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

.App {
  height: 100vh;
  min-height: 100vh;
  background-color: var(--background);
}

.container {
  margin: 0 24px;
  @include tablet {
    margin: 140px 97px;
  }
  @include desktop {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 730px;
    margin: 0px;
    transform: translate(-50%, -50%);
  }
}
